$font: 'Poppins', sans-serif;
$primary: #1b9b3c;
$secundary: #bada55;
$tertiary: #45ed7d;
$background: #f4f4f4;
$accent: #072c12;
$accent400: #50d873;
$accent500: #28bf4f;
$accent600: #1b9b3c;
$accent50: #F1FCF3;